
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    color: #445;
    padding-bottom: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.container
{
    max-width: 1200px;
}